﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

@Html.ActionLink("Inventory Report", "Inventory", "Reports") <br/>
@Html.ActionLink("Sales Report", "Sales", "Reports")