﻿@model CarDealership.Models.InventoryReportVM

@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventory Report</h2>

<div class="col-md-12">
    <div class="col-md-6">
        <h4>New Vehicles</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>

            @foreach (var line in Model.NewInventory)
            {
                <tr>
                    <td>
                        @line.Year
                    </td>
                    <td>
                        @line.Make
                    </td>
                    <td>
                        @line.Model
                    </td>
                    <td>
                        @line.Count
                    </td>
                    <td>
                        @line.StockValue.ToString("C0")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<div class="col-md-12">
    <div class="col-md-6">
        <h4>Used Vehicles</h4>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Count</th>
                <th>Stock Value</th>
            </tr>

            @foreach (var line in Model.UsedInventory)
            {
                <tr>
                    <td>
                        @line.Year
                    </td>
                    <td>
                        @line.Make
                    </td>
                    <td>
                        @line.Model
                    </td>
                    <td>
                        @line.Count
                    </td>
                    <td>
                        @line.StockValue.ToString("C0")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>