﻿@model CarDealership.Models.SalesReport

@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h2>Sales</h2>

    <form class="form-horizontal salesReportForm col-md-9">
        <fieldset>
            <div class="form-group col-md-4">
                <label class="col-md-3 control-label" for="userSort">User</label>
                <div class="col-md-9">
                    <select id="userSort" name="userSort" class="form-control">
                        <option value="">Default</option>
                        <option value="temp">temp</option>
                        <option value="Test User">Test User</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-3 control-label" for="startDate">Start Date</label>
                <div class="col-md-9">
                    <input id="startDate" name="startDate" type="text" placeholder="Enter start date for report: mm/dd/yyyy" class="form-control input-md">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-3 control-label" for="endDate">End Date</label>
                <div class="col-md-9">
                    <input id="endDate" name="endDate" type="text" placeholder="Enter end date for report: mm/dd/yyyy" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 reportSearch">
                    <button id="reportSearch" name="reportSearch" class="btn btn-primary">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <table id="searchResults" class="table table-striped table-bordered">
            <h4>Search Results</h4>
            <tr>
                <th>User</th>
                <th>Total Sales</th>
                <th>Total Vehicles</th>
            </tr>
        </table>
    </div>
</div>
<div id="errorMessages"></div>
