﻿@using CarDealership.Models
@model CarDealership.Models.SaleVm

@{
    ViewBag.Title = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Purchase</h2>
<div class="vehicleDetails col-md-12">
    <div class="col-md-12">
        <div class="col-md-3">
            <div>@Model.Vehicle.Year @Model.Vehicle.Make @Model.Vehicle.Model</div>
            <div>
                @{
                    var url = "/images/inventory-" + Model.Vehicle.Id + ".jpg";
                }
                <img src=@url alt="Vehicle Picture Not Available" style="font-family: fantasy" height="100px" />
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label>Body Style:</label>
                <span>@Model.Vehicle.BodyStyle</span>
            </div>
            <div>
                <label>Trans:</label>
                @if (Model.Vehicle.Transmission)
                {
                    <span>Manual</span>
                }
                else
                {
                    <span>Automatic</span>
                }

            </div>
            <div>
                <label>Color:</label>
                <span>@Model.Vehicle.Color</span>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label>Interior:</label>
                <span>@Model.Vehicle.Interior</span>
            </div>
            <div>
                <label>Mileage:</label>
                <span>@Model.Vehicle.Mileage</span>
            </div>
            <div>
                <label>VIN #:</label>
                <span>@Model.Vehicle.Vin</span>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <label>Sale Price:</label>
                <span>$@Model.Vehicle.Price</span>
            </div>
            <div>
                <label>MSRP:</label>
                <span>$@Model.Vehicle.Msrp</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <label>Description:</label>
            <span>@Model.Vehicle.Description</span>
        </div>
    </div>
</div>

<div class="col-md-12">
    @using (Html.BeginForm("Purchase", "Sales", FormMethod.Post))
    {
        <h4>Sales Information</h4>

        <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="Name">Name</label>
                            <div>
                                <input id="Name" name="Name" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Email">Email</label>
                            <div>
                                <input id="Email" name="Email" type="text" placeholder="" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Street1">Street 1</label>
                            <div>
                                <input id="Street1" name="Street1" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="City">City</label>
                            <div>
                                <input id="City" name="City" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Zipcode">Zipcode</label>
                            <div>
                                <input id="Zipcode" name="Zipcode" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="Phone">Phone</label>
                            <div>
                                <input id="Phone" name="Phone" type="text" placeholder="" class="form-control input-md">
                            </div>
                        </div>
                        <div>
                            <label class="control-label" for="Phone3"></label>
                            <div>
                                <input id="Phone3" name="Phone3" type="text" placeholder="" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Street2">Street 2</label>
                            <div>
                                <input id="Street2" name="Street2" type="text" placeholder="" class="form-control input-md">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="State">State</label>
                            <div>
                                <select id="State" name="State" class="form-control">
                                    <option value="AL">AL</option>
                                    <option value="AK">AK</option>
                                    <option value="AZ">AZ</option>
                                    <option value="AR">AR</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DE">DE</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="IA">IA</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="ME">ME</option>
                                    <option value="MD">MD</option>
                                    <option value="MA">MA</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MS">MS</option>
                                    <option value="MO">MO</option>
                                    <option value="MT">MT</option>
                                    <option value="NE">NE</option>
                                    <option value="NV">NV</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NY">NY</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VT">VT</option>
                                    <option value="VA">VA</option>
                                    <option value="WA">WA</option>
                                    <option value="WV">WV</option>
                                    <option value="WI">WI</option>
                                    <option value="WY">WY</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label" for="PurchasePrice">Purchase Price</label>
                        <div>
                            <input id="PurchasePrice" name="PurchasePrice" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="PurchaseType">Purchase Type</label>
                        <div>
                            <div class="input-group">
                                <select id="PurchaseType" name="PurchaseType" class="form-control">
                                    <option value="Dealer Finance">Dealer Finance</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Bank Finance">Bank Finance</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="form-group col-md-4">
            <div>
                <button id="Save" name="Save" class="btn btn-primary">Save</button>
            </div>
        </div>
        <input id="VehicleId" name="VehicleId" type="hidden" value="@Model.Sale.VehicleId"/>
        <input id="ListPrice" name="ListPrice" type="hidden" value="@Model.Sale.ListPrice" />
    }
</div>
