﻿@using System.Data
@model CarDealership.Models.HomeVM
@{
    ViewBag.Title = "Home Page";
}

<div id="featuredCarousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.SpecialList.Count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="i"></li>
            }
        </ol>
        <div class="carousel-inner">
            <div class="jumbotron item active">
                <a href="Home/Specials">
                <h1>Guild Cars</h1>
                <p class="lead">The best specials around!!!</p>
                </a>
            </div>
            @foreach (var item in Model.SpecialList)
            {
                <div id="featured" class="jumbotron item">
                    <a href="Home/Specials">
                    <h1>@item.Title</h1>
                    <p>@item.Description</p>
                    </a>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
    <div>
        @foreach (var item in Model.FeaturedUiVehicles)
        {
            
        <div class="col-md-3">
            <div class="items">
                @Html.HiddenFor(i => item.Id)
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    

                    <div class="col-md-12">
                        @{
                        var url = "../images/inventory-" + item.Id + ".jpg";
                        }
                        <img src=@url alt="Vehicle Picture Not Available" style="font-family: fantasy" height="100px"/>
                    </div>
                }
                <a href="../Inventory/Details/@item.Id">@item.Year @item.Make @item.Model</a>
                <p>@item.Price.ToString("C")</p>
            </div>
        </div>
        }
    </div>

</div>