﻿@model IEnumerable<CarDealership.Models.Special>

@{
    ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Specials</h2>

@foreach (var item in Model)
{
    <div class="col-md-12 specialDetails">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div>
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
        </div>
    </div>

}