﻿@using System.Web.Razor.Generator
@using CookieBlog.BLL
@model CookieBlog.Models.ViewModels.CreateBlogPostVM
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(250);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
</head>
<h2>Write Blog</h2>
@using (Html.BeginForm("Add", "BlogPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.BlogTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.blogPost.BlogTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.blogPost.BlogTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.blogPost.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.blogPost.Category, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.BlogContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.blogPost.BlogContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.blogPost.BlogContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.BlogStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="blogPost.BlogStartDate" id="blogPost.BlogStartDate">
                @Html.ValidationMessageFor(model => model.blogPost.BlogStartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.BlogEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="blogPost.BlogEndDate" id="blogPost.BlogEndDate">
                @Html.ValidationMessageFor(model => model.blogPost.BlogEndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.BlogTags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group col-md-10">
                <input name="blogPost.BlogTags" data-role="tagsinput" id="tagInput">
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.IsFeatured, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.blogPost.IsFeatured)
                    @Html.ValidationMessageFor(model => model.blogPost.IsFeatured, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.blogPost.IsStatic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.blogPost.IsStatic)
                    @Html.ValidationMessageFor(model => model.blogPost.IsStatic, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(model => model.blogPost.BlogId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.blogPost.BlogId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.blogPost.BlogId, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.blogPost.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.blogPost.IsApproved)
                        @Html.ValidationMessageFor(model => model.blogPost.IsApproved, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
    <input type='file' onchange="readURL(this);" name="file"/>
    <img id="blah" src="#" alt=""/>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}