﻿@model CookieBlog.Models.BlogPost
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete Blog</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogContent):
        </dt>
        <dd>
            <span>@Html.Raw(Model.BlogContent)</span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogStartDate):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogEndDate):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogTags):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogTags)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BlogId)
        @Html.HiddenFor(m => m.BlogImage)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
