﻿@using Microsoft.Ajax.Utilities
@model CookieBlog.Models.BlogPost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@Model.BlogTitle</h1>
@if (!string.IsNullOrEmpty(Model.BlogImage))
{
        <img src=@Model.BlogImage alt="Kooky Cookie Picture not Available" style="font-family: fantasy" height="200px"/>
}
<div class="border_gradient fullBlog">
    <span>@Html.Raw(Model.BlogContent)</span>
</div>

<p>
    <span>
        @if (!string.IsNullOrEmpty(Model.BlogTags))
        {
            List<string> blogTags = Model.BlogTags.Split(',').ToList();

            if (blogTags.Count != 0)
            {
                foreach (var tag in blogTags)
                {
                    <span>@Html.ActionLink($"#{@tag}", "SearchResults", "BlogPost", new {searchText = @tag, search = "Tag"}, null)</span>
                }
            }
        }
    </span>
</p>

<div>
    @*@Html.ActionLink("Back to List", "Home")*@
    @if ((User.IsInRole("Contributor") && User.Identity.Name == Model.Author) || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { blogid = Model.BlogId })  
    }
    @if ((User.IsInRole("Admin")))
    {
        <span>|</span> @Html.ActionLink("Delete", "Delete", new { id = Model.BlogId })
    }
</div>
