﻿@using CookieBlog.Controllers
@using Microsoft.Ajax.Utilities
@model CookieBlog.Models.ViewModels.BlogPostTagsVM
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>


<div id="featured">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.BlogPostList.Count(); i++)
            {
                <li data-target="#myCarousel" data-slide-to="i"></li>
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="jumbotron item active" style="height: 200px; text-align: center;">
                <h1>Kyle's Kooky Cookie Blog</h1>
                <p class="lead">This blog is the comprehensive resource for your cookie needs.</p>
            </div>
            @foreach (var item in Model.BlogPostList)
            {
                if (item.IsFeatured && item.IsApproved)
                {
                    <div id="featured" class="jumbotron item" style="height: 200px; text-align: center;">
                            <h1>@Html.ActionLink(item.BlogTitle, "Details", "BlogPost", new { blogid = item.BlogId }, null)</h1>
                            <p>@Html.Raw(item.BlogContent)</p>    
                    </div>
                }
            }
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="col-md-3 container-fluid">
    <div>
        <table class="table table-striped">

            @foreach (var item in Model.BlogPostList)
            {
                if (item.IsStatic == true && item.IsApproved == true)
                {
                    <tr>
                        <td>@Html.ActionLink(item.BlogTitle, "Details", "BlogPost", new { blogid = item.BlogId }, null)</td>
                        @if ((User.IsInRole("Contributor") && User.Identity.Name == item.Author) || User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { blogid = item.BlogId }) |
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink("Delete", "Delete", new {id = item.BlogId})
                                }
                            </td>
                        }
                    </tr>
                }
            }
        </table>
    
    </div>
</div>
<div class="col-md-9 container-fluid">
    
    @{int pageBlogId = 0;}
    @foreach (var item in Model.BlogPostList)
    {
        if (item.IsStatic == false && item.IsApproved && item.BlogStartDate <= DateTime.Now && (item.BlogEndDate == null || item.BlogEndDate > DateTime.Now))
        {
            pageBlogId++;
            <div class="postTable" id=@pageBlogId>
                <table >
                    <tr>
                        <th>
                            @Html.ActionLink(item.BlogTitle, "Details", "BlogPost", new {blogid = item.BlogId}, null)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="blogContent border_gradient col-md-12">
                                <span>@Html.Raw(item.BlogContent)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{
                                List<string> blogTags = item.BlogTags.Split(',').ToList();
                            }

                            @if (blogTags.Count != 0)
                            {
                                foreach (var tag in blogTags)
                                {
                                    <span>@Html.ActionLink($"#{@tag}", "SearchResults", "BlogPost", new {searchText = @tag, search = "Tag"}, null)</span>
                                }
                            }

                        </td>
                    </tr>
                </table>
            </div>
        }
    }
    <div>
        <button id="prevPage" class="btn btn-default">PREV</button>
        <button id="nextPage" class="btn btn-default">NEXT</button>
    </div>
</div>

@*<div class="featured">
    <b><a href="https://github.com/tholman/90s-cursor-effects" target="_blank">90's cursor effects collection</a></b><br>
    - Emoji Cursor
</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/CookieCursor.js"></script>*@
}
