﻿@model IEnumerable<CookieBlog.Models.BlogPost>
@{
    ViewBag.Title = "SearchResults";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search Results</h2>
@{int pageBlogId = 0;}

@foreach (var item in Model)
{
    if (item.IsApproved && item.BlogStartDate <= DateTime.Now && (item.BlogEndDate == null || item.BlogEndDate > DateTime.Now))
    {
        pageBlogId++;

        <div class="postTable" id=@pageBlogId>
            <table>
                <tr>
                    <td>
                        <h3>
                            @Html.ActionLink(item.BlogTitle, "Details", "BlogPost", new { blogid = item.BlogId }, null)
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td >
                        <div class="blogContent border_gradient">
                        @Html.Raw(item.BlogContent)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink(item.Category, "SearchResults", "BlogPost", new { searchText = item.Category, search = "Category" }, null)
                    </td>
                </tr>
                <tr>
                    <td>
                        @{
                            List<string> blogTags = item.BlogTags.Split(',').ToList();
                        }
                        @if (blogTags.Count != 0)
                        {
                            foreach (var tag in blogTags)
                            {
                                <span>@Html.ActionLink($"#{@tag}", "SearchResults", "BlogPost", new { searchText = @tag, search = "Tag" }, null)</span>
                            }
                        }
                    </td>
                </tr>
            </table>       
            @if ((User.IsInRole("Contributor") && User.Identity.Name == item.Author) || User.IsInRole("Admin"))
            {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { blogid = item.BlogId }) |
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new {id = item.BlogId})
                    }
                </td>
            </tr>
            }
            <hr/>
        </div>

    }
}
<div>
    <button id="prevPage" class="btn btn-default">PREV</button>
    <button id="nextPage" class="btn btn-default">NEXT</button>
</div>