﻿@model IEnumerable<CookieBlog.Models.BlogPost>

@{
    ViewBag.Title = "UnApprovedBlogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UnApproved Blogs</h2>

@foreach (var item in Model)
{
    if (item.IsApproved == false && ((User.IsInRole("Contributor") && User.Identity.Name == item.Author) || (User.IsInRole("Admin"))))
    {
        <table>
            <tr>
                <td>
                    <h3>
                        @Html.ActionLink(item.BlogTitle, "Details", "BlogPost", new { blogid = item.BlogId }, null)
                    </h3>
                </td>
            </tr>
            <tr>
                <td class="blogContent border_gradient">
                    @Html.Raw(item.BlogContent)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink(item.Category, "SearchResults", "BlogPost", new { searchText = item.Category, search = "Category" }, null)
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        List<string> blogTags = item.BlogTags.Split(',').ToList();
                    }
                    @if (blogTags.Count != 0)
                    {
                        foreach (var tag in blogTags)
                        {
                            <span>@Html.ActionLink($"#{@tag}", "SearchResults", "BlogPost", new { searchText = @tag, search = "Tag" }, null)</span>
                        }
                    }
                </td>
            </tr>
        </table>       
        if (User.IsInRole("Contributor") || User.IsInRole("Admin"))
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { blogid = item.BlogId }) |
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", new {id = item.BlogId})
                    }
                </td>
            </tr>
        }
        <hr />
    }
}