﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CarDealershipStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/CarDealershipLogo.jpg" style="height: 50px;"/>   
                @Html.ActionLink("Guild Cars", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("New Inventory", "New", "Inventory")</li>
                    <li>@Html.ActionLink("Used Inventory", "Used", "Inventory")</li>
                    <li>@Html.ActionLink("Specials", "Specials", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("Sales") || User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Sales", "Index", "Sales")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="admin">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                Admin<span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="/Admin/Vehicles">Vehicles</a></li>
                                                <li><a href="/Admin/Users">Users</a></li>
                                                <li><a href="/Admin/Makes">Makes</a></li>
                                                <li><a href="/Admin/Models">Models</a></li>
                                                <li><a href="/Admin/Specials">Specials</a></li>
                                                <li><a href="/Reports/Index">Reports</a></li>
                                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
            @RenderBody()
                <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Search.js"></script>
</body>
</html>
