﻿@model CarDealership.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>
<div class="col-md-12">

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Current Password</label>
                <div>
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label">New Password</label>
                <div>
                    @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm New Password</label>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}