﻿@model CarDealership.Models.Vehicle

@{
    ViewBag.Title = "AddVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(250);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
</head>


<h2>AddVehicle</h2>


@using (Html.BeginForm("AddVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vehicle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="Make">Make</label>
                <div>
                    <select id="Make" name="Make" class="form-control">
                        <option>Default</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Type">Type</label>
                <div>
                    <select id="Type" name="Type" class="form-control">
                        <option value="1">New</option>
                        <option value="2">Used</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Year">Year</label>
                <div>
                    <input id="Year" name="Year" class="form-control" type="text" required="" />
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Color">Color</label>
                <div>
                    <select id="Color" name="Color" class="form-control">
                        <option value="Black">Black</option>
                        <option value="Burgundy">Burgundy</option>
                        <option value="Lime Green">Lime Green</option>
                        <option value="Cherry Red">Cherry Red</option>
                        <option value="Blue">Blue</option>
                        <option value="Silver">Silver</option>
                        <option value="Almond">Almond</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control", required = "" } })
                    @Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Msrp, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Msrp, new { htmlAttributes = new { @class = "form-control", required=""} })
                    @Html.ValidationMessageFor(model => model.Msrp, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="Model">Model</label>
                <div>
                    <select id="Model" name="Model" class="form-control" ></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="BodyStyle">Body Style</label>
                <div>
                    <select id="BodyStyle" name="BodyStyle" class="form-control">
                        <option value="Car">Car</option>
                        <option value="SUV">SUV</option>
                        <option value="Truck">Truck</option>
                        <option value="Van">Van</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Transmission">Transmission</label>
                <div>
                    <select id="Transmission" name="Transmission" class="form-control">
                        <option value="false">Automatic</option>
                        <option value="true">Manual</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="Interior">Interior</label>
                <div>
                    <select id="Interior" name="Interior" class="form-control">
                        <option value="Black">Black</option>
                        <option value="Charcoal">Charcoal</option>
                        <option value="Cinnamon">Cinnamon</option>
                        <option value="Wine">Wine</option>
                        <option value="Blue">Blue</option>
                        <option value="Palomino">Palomino</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Vin, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Vin, new { htmlAttributes = new { @class = "form-control", required=""} })
                    @Html.ValidationMessageFor(model => model.Vin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", required="" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-12 featured">
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", required=""} })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <input type='file' onchange="readURL(this);" name="file" required=""/>
            <img id="blah" src="#" alt="" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Vehicles")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
