﻿@model CarDealership.Models.Special

@{
    ViewBag.Title = "DeleteSpecial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteSpecial</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Special</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteSpecialPost","Admin", new {id = Model.Id})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
        </div>
    }
</div>
