﻿@model CarDealership.Models.Vehicle

@{
    ViewBag.Title = "DeleteVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteVehicle</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div class="vehicleDetails">
        <div class="col-md-12">
            <div class="col-md-3">
                <div>@Model.Year @Model.Make @Model.Model</div>
                <div>
                    @{
                        var url = "/images/inventory-" + Model.Id + ".jpg";
                    }
                    <img src=@url alt="Vehicle Picture Not Available" style="font-family: fantasy" height="100px" />
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label>Body Style:</label>
                    <span>@Model.BodyStyle</span>
                </div>
                <div>
                    <label>Trans:</label>
                    @if (Model.Transmission)
                    {
                        <span>Manual</span>
                    }
                    else
                    {
                        <span>Automatic</span>
                    }

                </div>
                <div>
                    <label>Color:</label>
                    <span>@Model.Color</span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label>Interior:</label>
                    <span>@Model.Interior</span>
                </div>
                <div>
                    <label>Mileage:</label>
                    <span>@Model.Mileage</span>
                </div>
                <div>
                    <label>VIN #:</label>
                    <span>@Model.Vin</span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label>Sale Price:</label>
                    <span>$@Model.Price</span>
                </div>
                <div>
                    <label>MSRP:</label>
                    <span>$@Model.Msrp</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <label>Description:</label>
                <span>@Model.Description</span>
            </div>
        </div>

        <p style="text-align: right">
            @if (Model.IsSold == false)
            {
                <button>
                    @Html.ActionLink("Contact Us", "Contact", "Home", new { note = "VIN: " + Model.Vin }, null)
                </button>
            }
            else
            {
                <label>Unavailable-Sold</label>
            }
        </p>
    </div>

    @using (Html.BeginForm("DeleteVehiclePost", "Admin", new {id = Model.Id}))

        {
        @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <button class="btn btn-default">
                    @Html.ActionLink("Back to List", "Vehicles")
                </button>
            </div>

        }
</div>
