﻿@model CarDealership.Models.Vehicle

@{
    ViewBag.Title = "EditVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditVehicle</h2>

<div class="col-md-12">
    @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <input type="hidden" id="oldMake" value="@Model.Make" />
            <input type="hidden" id="oldModel" value="@Model.Model" />
            <input type="hidden" id="oldBodyStyle" value="@Model.BodyStyle" />
            <input type="hidden" id="oldColor" value="@Model.Color" />
            <input type="hidden" id="oldInterior" value="@Model.Interior" />
            <input type="hidden" id="oldTransmission" value="@Model.Transmission" />
            <input type="hidden" id="oldMileage" value="@Model.Mileage" />

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="Make">Make</label>
                    <div>
                        <select id="Make" name="Make" class="form-control">
                            <option>Default</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Type">Type</label>
                    <div>
                        <select id="Type" name="Type" class="form-control">
                            <option value="1">New</option>
                            <option value="2">Used</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Year">Year</label>
                    <div>
                        <input id="Year" name="Year" class="form-control" value="@Model.Year" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Color">Color</label>
                    <div>
                        <select id="Color" name="Color" class="form-control">
                            <option value="Black">Black</option>
                            <option value="Burgundy">Burgundy</option>
                            <option value="Lime Green">Lime Green</option>
                            <option value="Cherry Red">Cherry Red</option>
                            <option value="Blue">Blue</option>
                            <option value="Silver">Silver</option>
                            <option value="Almond">Almond</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Mileage, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Mileage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mileage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Msrp, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Msrp, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Msrp, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="Model">Model</label>
                    <div>
                        <select id="Model" name="Model" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="BodyStyle">Body Style</label>
                    <div>
                        <select id="BodyStyle" name="BodyStyle" class="form-control">
                            <option value="Car">Car</option>
                            <option value="SUV">SUV</option>
                            <option value="Truck">Truck</option>
                            <option value="Van">Van</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Transmission">Transmission</label>
                    <div>
                        <select id="Transmission" name="Transmission" class="form-control">
                            <option value="false">Automatic</option>
                            <option value="true">Manual</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Interior">Interior</label>
                    <div>
                        <select id="Interior" name="Interior" class="form-control">
                            <option value="Black">Black</option>
                            <option value="Charcoal">Charcoal</option>
                            <option value="Cinnamon">Cinnamon</option>
                            <option value="Wine">Wine</option>
                            <option value="Blue">Blue</option>
                            <option value="Palomino">Palomino</option>
                        </select>
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Vin, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Vin, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 featured">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <input type='file' onchange="readURL(this);" name="file" />
                <img id="blah" src="#" alt="" />
            </div>
            <div class="col-md-12 featured">
                <div class="form-group">
                    <div class="checkbox col-md-1" style="text-align: right;">
                        @Html.EditorFor(model => model.Featured)
                        @Html.ValidationMessageFor(model => model.Featured, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-md-10" style="text-align: left;">
                        @Html.LabelFor(model => model.Featured, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-1">
                    <button class="btn btn-default">
                        @Html.ActionLink("Delete", "DeleteVehicle", new {id = Model.Id})
                    </button> 
                </div>
                    <div class="form-group col-md-offset-11">
                        <div>
                            <input type="submit" value="Save" class="btn btn-default"/>
                        </div>
                    </div>
                
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            var oldTransmission = $("#oldTransmission").val();
            if (oldTransmission === true) {
                $("#Transmission").val("Manual");
            }

            var oldMileage = $("#oldMileage").val();
            if (oldMileage > 1000) {
                $("#Type").val("2");
            }

            var oldBodyStyle = $("#oldBodyStyle").val();
            $("#BodyStyle").val(oldBodyStyle);

            var oldColor = $("#oldColor").val();
            $("#Color").val(oldColor);

            var oldInterior = $("#oldInterior").val();
            $("#Interior").val(oldInterior);
        })
    </script>
}
