﻿@model IEnumerable<CarDealership.Models.Make>

@{
    ViewBag.Title = "Makes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Makes</h2>
<div class="col-md-12 addForm">
    @using (Html.BeginForm("Makes", "Admin", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <label class="col-md-4 control-label" for="description">New Make</label>
            <div class="col-md-4">
                <input id="description" name="description" type="text" placeholder="" class="form-control input-md" required="">
                @Html.ValidationMessage("description")
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="CreateMake"></label>
            <div class="col-md-4">
                <button id="CreateMake" name="CreateMake" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <table class="table table-bordered table-striped">

            <tr>
                <th>
                    Make
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    User
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @item.CreateDateTime.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
