﻿@model IEnumerable<CarDealership.Models.Special>

@{
    ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Specials</h2>
<div class="col-md-12 specialForm">
    @using (Html.BeginForm("Specials", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label class="col-md-1 control-label" for="title">Title</label>
            <div class="col-md-11">
                @Html.ValidationMessage("title")
                <input id="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="description">Description</label>
            <div class="col-md-11">
                <textarea id="description" name="description" placeholder="" class="form-control input-md" required=""></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label" for="CreateSpecial"></label>
            <div class="col-md-11">
                <button id="CreateSpecial" name="CreateSpecial" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
</div>


@foreach (var item in Model)
{
    <div class="col-md-12 specialDetails">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
        </div>
        <div class="col-md-1">
            <button>
            @Html.ActionLink("Delete", "DeleteSpecial", new {id = item.Id})
            </button>
        </div>
    </div>

}