﻿.jumbotron {
    height: 200px;
    text-align: center;
    background: url("/images/CarDealershipJumbotronBackGround.jpg") no-repeat center;
    background-size: 100% 100%;
}

.items {
    border: black 1px solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.vehicles {
    border: black 1px solid;
    padding: 10px;
    margin-top: 10px;
}

.carPic {
    height: 60px;
    font-family: serif;
}

.searchColumn {
    text-align: left;
}

.logo {
    height: 50px;
}

.salesReportForm {
    border: black 1px solid;
    padding-top: 1%;
}

.reportSearch {
    text-align: left;
}

.specialForm {
    border: black 1px solid;
    padding-top: 1%;
}

.addForm {
    border: black 1px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 15px;
}


.specialDetails {
    border: black 1px solid;
    padding-top: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.featured {
    text-align: left;
}

.vehicleDetails {
    border: black 1px solid;
    padding: 1%;
}