﻿@model IEnumerable<CarDealership.Models.Vehicle>

@{
    ViewBag.Title = "Used";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Used Vehicles</h2>
<div class="addForm">
    <form class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="form-group col-md-4">
                <label class="col-md-3 control-label" for="makeModelYear">Quick Search</label>
                <div class="col-md-9">
                    <input id="makeModelYear" name="makeModelYear" type="text" placeholder="Enter make, model, or year" class="form-control input-md">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="minYear">Year</label>
                    <div class="col-md-8">
                        <select id="minYear" name="minYear" class="form-control">
                            <option value="">No Min</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="maxYear"></label>
                    <div class="col-md-8">
                        <select id="maxYear" name="maxYear" class="form-control">
                            <option value="">No Max</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="minPrice">Price</label>
                    <div class="col-md-8">
                        <select id="minPrice" name="minPrice" class="form-control">
                            <option value="">No Min</option>
                            <option value="1000">1000</option>
                            <option value="1500">1500</option>
                            <option value="2000">2000</option>
                            <option value="2500">2500</option>
                            <option value="3000">3000</option>
                            <option value="3500">3500</option>
                            <option value="4000">4000</option>
                            <option value="4500">4500</option>
                            <option value="5000">5000</option>
                            <option value="5500">5500</option>
                            <option value="6000">6000</option>
                            <option value="6500">6500</option>
                            <option value="7000">7000</option>
                            <option value="7500">7500</option>
                            <option value="8000">8000</option>
                            <option value="8500">8500</option>
                            <option value="9000">9000</option>
                            <option value="9500">9500</option>
                            <option value="10000">10000</option>
                            <option value="10500">10500</option>
                            <option value="11000">11000</option>
                            <option value="11500">11500</option>
                            <option value="12000">12000</option>
                            <option value="12500">12500</option>
                            <option value="13000">13000</option>
                            <option value="13500">13500</option>
                            <option value="14000">14000</option>
                            <option value="14500">14500</option>
                            <option value="15000">15000</option>
                            <option value="15500">15500</option>
                            <option value="16000">16000</option>
                            <option value="16500">16500</option>
                            <option value="17000">17000</option>
                            <option value="17500">17500</option>
                            <option value="18000">18000</option>
                            <option value="18500">18500</option>
                            <option value="19000">19000</option>
                            <option value="19500">19500</option>
                            <option value="20000">20000</option>
                            <option value="20500">20500</option>
                            <option value="21000">21000</option>
                            <option value="21500">21500</option>
                            <option value="22000">22000</option>
                            <option value="22500">22500</option>
                            <option value="23000">23000</option>
                            <option value="23500">23500</option>
                            <option value="24000">24000</option>
                            <option value="24500">24500</option>
                            <option value="25000">25000</option>
                            <option value="25500">25500</option>
                            <option value="26000">26000</option>
                            <option value="26500">26500</option>
                            <option value="27000">27000</option>
                            <option value="27500">27500</option>
                            <option value="28000">28000</option>
                            <option value="28500">28500</option>
                            <option value="29000">29000</option>
                            <option value="29500">29500</option>
                            <option value="30000">30000</option>
                            <option value="30500">30500</option>
                            <option value="31000">31000</option>
                            <option value="31500">31500</option>
                            <option value="32000">32000</option>
                            <option value="32500">32500</option>
                            <option value="33000">33000</option>
                            <option value="33500">33500</option>
                            <option value="34000">34000</option>
                            <option value="34500">34500</option>
                            <option value="35000">35000</option>
                            <option value="35500">35500</option>
                            <option value="36000">36000</option>
                            <option value="36500">36500</option>
                            <option value="37000">37000</option>
                            <option value="37500">37500</option>
                            <option value="38000">38000</option>
                            <option value="38500">38500</option>
                            <option value="39000">39000</option>
                            <option value="39500">39500</option>
                            <option value="40000">40000</option>
                            <option value="40500">40500</option>
                            <option value="41000">41000</option>
                            <option value="41500">41500</option>
                            <option value="42000">42000</option>
                            <option value="42500">42500</option>
                            <option value="43000">43000</option>
                            <option value="43500">43500</option>
                            <option value="44000">44000</option>
                            <option value="44500">44500</option>
                            <option value="45000">45000</option>
                            <option value="45500">45500</option>
                            <option value="46000">46000</option>
                            <option value="46500">46500</option>
                            <option value="47000">47000</option>
                            <option value="47500">47500</option>
                            <option value="48000">48000</option>
                            <option value="48500">48500</option>
                            <option value="49000">49000</option>
                            <option value="49500">49500</option>
                            <option value="50000">50000</option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="maxPrice"></label>
                    <div class="col-md-8">
                        <select id="maxPrice" name="maxPrice" class="form-control">
                            <option value="">No Max</option>
                            <option value="5000">5000</option>
                            <option value="5500">5500</option>
                            <option value="6000">6000</option>
                            <option value="6500">6500</option>
                            <option value="7000">7000</option>
                            <option value="7500">7500</option>
                            <option value="8000">8000</option>
                            <option value="8500">8500</option>
                            <option value="9000">9000</option>
                            <option value="9500">9500</option>
                            <option value="10000">10000</option>
                            <option value="10500">10500</option>
                            <option value="11000">11000</option>
                            <option value="11500">11500</option>
                            <option value="12000">12000</option>
                            <option value="12500">12500</option>
                            <option value="13000">13000</option>
                            <option value="13500">13500</option>
                            <option value="14000">14000</option>
                            <option value="14500">14500</option>
                            <option value="15000">15000</option>
                            <option value="15500">15500</option>
                            <option value="16000">16000</option>
                            <option value="16500">16500</option>
                            <option value="17000">17000</option>
                            <option value="17500">17500</option>
                            <option value="18000">18000</option>
                            <option value="18500">18500</option>
                            <option value="19000">19000</option>
                            <option value="19500">19500</option>
                            <option value="20000">20000</option>
                            <option value="20500">20500</option>
                            <option value="21000">21000</option>
                            <option value="21500">21500</option>
                            <option value="22000">22000</option>
                            <option value="22500">22500</option>
                            <option value="23000">23000</option>
                            <option value="23500">23500</option>
                            <option value="24000">24000</option>
                            <option value="24500">24500</option>
                            <option value="25000">25000</option>
                            <option value="25500">25500</option>
                            <option value="26000">26000</option>
                            <option value="26500">26500</option>
                            <option value="27000">27000</option>
                            <option value="27500">27500</option>
                            <option value="28000">28000</option>
                            <option value="28500">28500</option>
                            <option value="29000">29000</option>
                            <option value="29500">29500</option>
                            <option value="30000">30000</option>
                            <option value="30500">30500</option>
                            <option value="31000">31000</option>
                            <option value="31500">31500</option>
                            <option value="32000">32000</option>
                            <option value="32500">32500</option>
                            <option value="33000">33000</option>
                            <option value="33500">33500</option>
                            <option value="34000">34000</option>
                            <option value="34500">34500</option>
                            <option value="35000">35000</option>
                            <option value="35500">35500</option>
                            <option value="36000">36000</option>
                            <option value="36500">36500</option>
                            <option value="37000">37000</option>
                            <option value="37500">37500</option>
                            <option value="38000">38000</option>
                            <option value="38500">38500</option>
                            <option value="39000">39000</option>
                            <option value="39500">39500</option>
                            <option value="40000">40000</option>
                            <option value="40500">40500</option>
                            <option value="41000">41000</option>
                            <option value="41500">41500</option>
                            <option value="42000">42000</option>
                            <option value="42500">42500</option>
                            <option value="43000">43000</option>
                            <option value="43500">43500</option>
                            <option value="44000">44000</option>
                            <option value="44500">44500</option>
                            <option value="45000">45000</option>
                            <option value="45500">45500</option>
                            <option value="46000">46000</option>
                            <option value="46500">46500</option>
                            <option value="47000">47000</option>
                            <option value="47500">47500</option>
                            <option value="48000">48000</option>
                            <option value="48500">48500</option>
                            <option value="49000">49000</option>
                            <option value="49500">49500</option>
                            <option value="50000">50000</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="usedSearch"></label>
                <div class="col-md-4">
                    <button id="usedSearch" name="usedSearch" class="btn btn-primary">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
    <div id="searchResults">
        <h3>Search Results</h3>
    </div>
    <div id="errorMessages"></div>
