﻿#backgroundEdit {
    background-image: url("https://i.pinimg.com/564x/2c/2c/32/2c2c3237e40b3b57f4f37ef3831e1421--mini-chocolate-chips-chocolate-chip-cookies.jpg")
}

#navEdit {
    background-color: #e24444;
}

#HomeLink {
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
    font-style: italic;
    padding-right: 35px;
}

#logEdit {
    padding-right: 10px;
    padding-top: 10px;
}

#writeEdit {
    padding-top: 10px;
    padding-left: 4px;
}

#SearchType {
    padding-top: 10px;
    height: 10px;
    padding-right: 30px;
    text-align: left;
}

#searchText {
    padding-top: .5px;
    height: 30px;
    padding-left: 10px;
}

#whiteSpace {
    height: 34px;
}

#testbtn {
    text-decoration: underline;
    color: #ffffff;
    padding-top: 7px;
}

#welcomeUser {
    color: #ffffff;
    text-align: right;
    font-size: 20px;
    font-family: cursive;
    font-style: italic;

}

#buttonColor {
    color: #ffffff;
}

#tagEdit {
    font-family: Impact;
    color: white;
}

#contentEdit {
    background-color: #e24444;
    color: white;
}

#footerEdit {
    position: absolute;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#loginForm {
    margin: initial;
    width: 50%;
    padding-top: 40px;
    color: black;
}

#logBox {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 20px;
}

.blogContent {
    height: 45px;
    overflow: hidden;
    background-color: #ffffff;
}

#shadowBackground {
    border-style: solid;
    border-width: 10px;
    border-color: #e24444;
    box-shadow: 15px 10px 10px #9e8c8c;
}

.postTable {
    border-bottom: 2px dotted black;
}

#myCarousel {
    /*background-color: none;*/
}

#userNav {
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
}

.btn-default {
    color: black;
}

a:link, a:active, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

.border_gradient {
    /*border-style: solid;
    border-width: 10px;
    border-color: #e24444;*/
    box-shadow: 0px 0px 5px #9e8c8c;
}

.fullBlog {
    background-color: #ffffff;
}

/*.info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
}*/